form(class="form-inline my-2 d-flex justify-content-center" id="answer_form")
    label(class="sr-only" for="answer") Answer question
    input(id="answer" name='answer' class="form-control my-2 mr-sm-2 w-75" placeholder="Your answer")
    input(type="hidden" name="threadId")
    button(class="btn btn-primary text-light" type="submit") Submit