form(class="form-inline my-2 justify-content-center" id="question_form")
    div(class="container")
        div(class="row")
            div(class="container")
                small(class="form-text text-muted row") Add tags at the end of your title, example:
                small(class="form-text text-muted row") How do Javascript closures work? #javascript #closures
            label(class="sr-only" for="title") Ask a question
            input(type="text" id="title" name='title' class="form-control my-2 w-100 formText pasteableTextArea" placeholder="Title")
            div(class="container")
                small(class="form-text text-muted row") Paste code and images into underlying input field
                small(class="form-text text-muted row") Surround code with single quotes: ''&lt;div&gt;I'm a container!&lt;/div&gt;'''
            textarea(id="question" name='question' class="form-control my-2 w-100 formText pasteableTextArea" placeholder="Your question")
            div(class="pasteImage row")
        if user && user.isAdmin
            div(class="row my-1 form-check")
                label(class="form-check-label")
                    input(id='pollCheckBox' class="form-check-input" type="checkbox")
                    | Create poll
            div(class="row pollSection" style="display: none")
                div(class="container")
                    small(class="form-text text-muted row") Minimum 2 choices required
                    small(class="form-text text-muted row") Also paste code and images here
            div(class="row pollSection mt-2" style="display: none")
                label(class="sr-only" for="choice") Add a choice
                textarea(class="form-control col" name="choice" id="choice" aria-describedby="choiceHelp" placeholder="Choice")
                div(class="col-2")
                    a(id="addChoiceBtn" class="btn btn-primary text-light ml-1" href="#")
                        i(class="fa fa-2x fa-plus-circle")
            ul(id="pollChoices" class="row list-group mt-2 w-100 pollSection" style="display: none")
        div(class="row mt-2 justify-content-center")
            button(class="btn btn-primary text-light" type="submit") Submit