form(class="form-inline my-2 justify-content-center" id="alias_form")
    label(class="sr-only" for="tag") Change username:
    input(id="alias" name='alias' class="form-control mr-sm-2 w-75 " placeholder="new username")
    input(type="hidden" name="threadId")
    button(class="btn btn-secondary" type="submit") Change