form(class="form-inline my-2 justify-content-center" id="question_form")
    label(class="sr-only" for="question") Ask a question
    textarea(id="question" name='question' class="form-control mr-sm-2 w-75 " placeholder="Ask a question" class="formText pasteableTextArea")
    button(class="btn btn-secondary" type="submit") Ask
    div(class="pasteImage" class="row")
