form(class="form-inline my-2 justify-content-center" id="tag_form")
    label(class="sr-only" for="tag") New tag
    input(id="tag" name='tag' class="form-control mr-sm-2 w-75 " placeholder="Add tag")
    input(type="hidden" name="threadId")
    button(class="btn btn-secondary" type="submit") +