div(class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true")
    div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content bg-danger text-light")
            div(class="modal-header")
                h5(class="modal-title") An error occurred!
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            //- Set error message in this container
            div(class="modal-body errorMsg") Oops something broke.
            div(class="modal-footer")
                button(type="button" class="btn btn-dark" data-dismiss="modal") Close