div(class="modal fade" id="answerFormModal" tabindex="-1" role="dialog" aria-labelledby="answerFormModal" aria-hidden="true")
    div(class="modal-dialog modal-lg" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title") New Answer
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            div(class="modal-body")
                //- Set thread question in this container
                p(class="threadQuestion text-muted")
                include ./form_answer.pug
            div(class="modal-footer")
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel