extends ./layouts/layout

block content
    div(class="container my-4" id="threads")

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/socketModule.js")
    script(src="/js/main.js")
    script(src="/js/class.js")