extends layout
include ./mixins/mixin_thread.pug


//-
    index.pug variables
    ********************
    @layout.title {String} title of current page
    @header.layout.user {Boolean} shows login/logout button
    @threads {[Thread]} array of threads to render

block content
    div(class="text-center my-3")
        button(class="btn btn-primary text-light mx-auto" id="askbutton") Ask new question

    div(class="container my-4" id="threads")
        each thread in threads
            if user
                +thread(thread, user.isAdmin)
            else
                +thread(thread, false)

    include ./partials/popup_alias.pug 
    include ./partials/popup_error.pug
    include ./partials/popup_answer.pug
    include ./partials/popup_comment.pug
    include ./partials/popup_question.pug
    include ./partials/popup_tag.pug
    include ./partials/popup_image.pug


block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/socketModule.js")
    script(src="/js/lib/jquery.caret.min.js")
    script(src="/js/lib/jquery.atwho.min.js")
    script(src="/js/main.js")
    