extends ./layouts/layout
include ./mixins/mixin_user.pug

block content
    h1(class="text-center") Leaderboards
    div(class="container my-4" id="users")
        each user in users
            +user(user)