extends ./layouts/layout
include ./mixins/mixin_sub.pug

block content
    h1(class="text-center") Subscriptions
    div(class="container list-group" id="subscriptions")
        form(action="/subscribe" method="post" class="list-group-item d-flex justify-content-between align-items-center")
            input(type='text' placeholder="new tag" name="sub" class="form-control mr-4")
            button(type="submit" class="btn btn-success text-light")
                i(class="fa fa-plus fa-2x") 
        each sub in user.subscriptions
            +sub(sub)