extends ./layouts/layout
include ./mixins/mixin_thread

block content
    div(class="container" id="threads")
        if user
            +thread(thread, user.isAdmin)
        else
            +thread(thread, false)

block scripts
