body {
    background: #ffffff;
}

.text-howest{
    color:#e3147e;
}

.comment{
    margin-left:2px;
    margin-right:2px;
    border-bottom: white 1px solid;
    padding-top:20px;
}

.comments-block{
    border-bottom: #D9DADB 1px solid;
    padding-bottom:20px;

    margin-bottom:10px;
}

.comment-text{
    padding-top:10px;
}

.answerButton{
    margin-bottom:10px;
}

.pasteImage img{
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.answers img{
    max-height: 40%;
    max-width: 40%;
}
.extraInfo img{
    max-height: 70%;
    max-width: 50%;
}

.badge-gold{
    color:#FFD700	;
}

.badge-silver{
    color:#D3D3D3	;
}

.badge-bronze{
    color: #cc6633 ;
}

.badge-default{
    color: white;
}

.modalImage{
    width: 100%;
}


