@import url("./reset.css");


.container{
    width:100%;
}


.question{
    width:80%;
    float:left;
}


.btnAnswer{
    width:20%;
    float:left;
}

.component_updown{
    width:100%;
}

.up_number_down{
    text-align:center;

}


.question{
    font-size: 1.5rem;
}

.thread{
margin-bottom: 20px;
background-color:#F5F5F5;
padding:30px;
}

.questionWrap{
    margin-bottom:15px;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 10px;
}

#questionForm{
    margin-bottom:20px;
}

.questionHeading{
    margin-bottom:15px;
}

.answers{
    margin-bottom:20px;
}

.answerWrap{
    margin-bottom:10px;
    padding:5px;

}

.approved{
    background-color: #7fb922;

}
