//-
    IMPORTANT
    When editing -> also paste youe edits in answer.pug

//-
    This file exists purely for the for loop in thread.pug
    Look into switching to EJS instead

//-
    mixin_answer.pug variables
    **************************
    @answerObject [Answer] answer to render

mixin answer(answerObject)
    li(class="answer list-group-item bg-light" data-answer-id=answerObject._id)
        p(class="answerText")= answerObject.answer
        button(class="commentButton btn btn-secondary" type="submit") Comment
        ul(class="comments")
            each comment in answerObject.comments
                li(class="comment")
                    p= comment.comment


