mixin header(user)
    header
        nav(class="navbar fixed-top navbar-dark bg-primary py-1 px-2 " + (user ? "navbar-expand-lg" : "navbar-expand-sm") role="navigation")
            a(class="navbar-brand my-0 h1" href="/") Questions
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                i(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    if user
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")= user.alias
                            div(class="dropdown-menu border-secondary p-1" aria-labelledby="navbarDropdown")
                                a(id="btn-alias" class="nav-link btn btn-secondary my-1" href='#') Change username
                                a(class="nav-link btn btn-secondary my-1" href='/logout') Logout
                        li(id="credits-header" class="nav-item nav-link")
                            i(class=user.badge aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Your credits: " + user.credits)
                    else
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login
                            div(class="dropdown-menu border-secondary p-1" aria-labelledby="navbarDropdown")
                                h6(class="dropdown-header") Your Howest account is a Google account
                                a(class="btn btn-block btn-social btn-google" href='/auth/google') Sign in with Google
                                    i(class="fa fa-google")
                        span(class="navbar-text") for live updates of new questions
                if user
                    form(class="form-inline my-1" action="#" id="open_class")
                        input(class="form-control mr-sm-2" type="search" name="tag" placeholder="Tag" aria-label="Search")
                        button(class="btn btn-outline-light my-1 mr-sm-2" type="submit") Open class
                    form(class="form-inline my-1" action="#" id="search_threads_on_tag_form")
                        input(class="form-control mr-sm-2" type="search" name="tag" placeholder="Tag" aria-label="Search")
                        button(class="btn btn-outline-light my-1" type="submit")
                            i(class="fa fa-search")