include ./mixin_comment.pug

mixin block(answerObject, isAdmin)
    div(class="row comments-block")
        span(class="answerText col")!= answerObject.answer
        div(class="col-sm-2 col-md-3 text-right")
            if answerObject.author.isAdmin
                a(class="btn btn-primary-text-light m-1" href="#" disabled data-toggle="tooltip" data-placement="bottom" title="Answer by teacher")
                    i(class="fa fa fa-graduation-cap text-howest 2x" aria-hidden="true")

            a(class="commentButton btn btn-primary text-light m-1" href="#")
                span(class="fa fa-comment" aria-hidden="true")
                span(class="sr-only") comment
            

            
            if isAdmin
                a(class="deleteAnswerBtn btn btn-secondary text-light m-1" href="#")
                    span(class="fa fa-trash" aria-hidden="true")
                    span(class="sr-only") delete answer
                a(class="approveAnswerBtn btn btn-secondary text-light m-1" href="#")
                    span(class="fa fa-check" aria-hidden="true")
                    span(class="sr-only") approve answer
    
    ul(class="comments fa-ul mt-2 row list-group" style="display:none")
        each comment in answerObject.comments
            +comment(comment)
    div(class="row")
            div(class="col text-center")
                a(class="commentsVisibilityToggler text-primary" href="#")
                    i(class="fa fa-caret-down")
                    span(class="ml-2")
                        span(class="amountComments")=answerObject.comments.length
                        

mixin answer(answerObject, isAdmin)
    if answerObject.isApproved
        li(class="answer list-group-item bg-success m-1 rounded" data-answer-id=answerObject._id)
            +block(answerObject, isAdmin)
    else
        li(class="answer list-group-item bg-light m-1 rounded" data-answer-id=answerObject._id)
            +block(answerObject, isAdmin)

