mixin header(user)
    header
        nav(class="navbar fixed-top navbar-dark bg-primary py-1 px-2 " + (user ? "navbar-expand-lg" : "navbar-expand-sm") role="navigation")
            a(class="navbar-brand my-0 h1" href="/") Questions
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                i(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item")
                        a(class="nav-link text-light" href="/") Home
                            span(class="sr-only") (current)
                    if user
                        li(class="nav-item")
                            a(class="nav-link text-light" href='/logout') Logout
                    else
                        li(class="nav-item dropdown")
                            a(class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login
                            div(class="dropdown-menu border-dark" aria-labelledby="navbarDropdown")
                                h6(class="dropdown-header") Your Howest account is a Google account
                                a(class="btn btn-block btn-social btn-google" href='/auth/google') Sign in with Google
                                    i(class="fa fa-google")
                    if user && user.isAdmin
                        li(class="nav-item")
                            span(class="navbar-text")
                                | (Admin mode)
                    li(id="credits-header")
                if user
                    form(class="form-inline my-1" action="#" id="open_class")
                        input(class="form-control mr-sm-2" type="search" name="tag" placeholder="Tag" aria-label="Search")
                        button(class="btn btn-outline-light my-1 mr-sm-2" type="submit") Open class


                    form(class="form-inline my-1" action="#" id="search_threads_on_tag_form")
                        input(class="form-control mr-sm-2" type="search" name="tag" placeholder="Tag" aria-label="Search")
                        button(class="btn btn-outline-light my-1" type="submit")
                            i(class="fa fa-search")